// Variables
$background-color: darksalmon;
$font-family-oswald: 'Oswald', sans-serif;
$font-family-montserrat: "Montserrat", sans-serif;
$font-family-Rubik: "Rubik Mono One", serif;
$font-family-roboto: "Roboto", sans-serif;
